h1{
    font-size:30px !important;
  }
  body{
    background-size:cover;
    background-position: center;
  }
  p{
    color:cornflowerblue;
    background-color: #ffffff;
  width:fit-content;
  font-size:20px;
  }
  #footer{
    position: fixed;
    bottom: 5;
    width:100%;
    text-align:center;
    
  }